<section class="HomeSection ">
  <div class="main main-home-media ">
  <div class="container d-flex justify-content-center align-items-center  center-container">
  <div class=" d-flex justify-content-center align-items-center flex-column">
  <div class="parentImage parentImage-home ">
    <img src="./avataaars_1.webp" class="w-100 d-block" alt="no img">
  </div>
  <div class="parentDescripition  d-flex justify-content-center align-items-center flex-column">
    <h2 class="start-text-home">start framework</h2>
    <div class="w-100 d-flex justify-content-center align-items-center icon-rule icon-rule-home-media position-relative">
      <i class="fa-solid fa-star"></i>
    </div>
    <p class="text-capitalize">Graphic Artist - Web Designer - Illustrator</p>
  </div>
  </div>
</div>
</div>
  </section>
