<footer>
  <div class="main">

  <div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="inner inner-footer-media d-flex justify-content-center align-items-center flex-column">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="inner inner-footer-media d-flex justify-content-center align-items-center flex-column">
        <h3>AROUND THE WEB</h3>
        <ul class="d-flex justify-content-center align-items-center px-3 ">
          <li class="parentIcon">
            <i class="fa-brands fa-facebook "></i>
          </li>
          <li class="parentIcon">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="parentIcon">
            <i class="fa-brands fa-linkedin-in"></i>
          </li>
          <li class="parentIcon">
            <i class="fa-solid fa-globe"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="inner inner-footer-media d-flex justify-content-center align-items-center flex-column ">
        <h3>ABOUT FREELANCER</h3>
        <p class="text-lowercase text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="copyrights mainCopy ">
  <div class="container d-flex justify-content-center align-items-center">
    <p class="m-0 text-capitalize text-center">Copyright © Your Website 2021</p>
  </div>
</div>
</footer>
