div.main {
  background-color: #2C3E50;
}
ul {
  list-style-type: none;
}
li.parentIcon {
  border: 1.5px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.25rem ;
}
.inner {
  padding-block: 6.25rem;
}
.mainCopy {
  background-color: #1A252F;
  padding-block: 1.5rem;
}
